/* Global rules */

@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Poppins');

/*Remove default CSS settings*/
* { margin: 0; padding: 0; }
  ul, ol { list-style: none; }
  a img, :link img, :visited img { border: none; }

html {
    background-color: white;
    font-size: 0.95em;
    line-height: 1.5em;
}

::selection { 
    background: black;
}

body {
    font-family: Poppins, sans-serif;
    color: whitesmoke;
    overflow: auto;
    height: 100vh;
    width: 100vw;
}

h1 {
    font-family: 'Abril Fatface', serif;
    font-weight: normal;
    color: whitesmoke;
    font-size: 4em;
    margin: auto;
    line-height: 2.5em;
    text-align: center;
}

div.wrapper {
    overflow: auto;
}

p {
    margin: 1em 1em;
}

h2, h3 {
    font-weight: normal;
    margin-left: 1em;
    line-height: 1em;
}

a {
    color: gold;
    text-decoration: none;
    -webkit-transition: color 1s; /* For Safari 3.0 to 6.0 */
    transition: color 1s; /* For modern browsers */
}

a:hover {
    text-decoration: none;
    color: rgb(175, 22, 2);
}

#disclaimer {
    font-size: smaller;
}

footer {
    clear: both;
    text-align: center;
}

section.header {
    padding-top:10vh;
}


/* Responsive rules */

/* DESKTOP */
@media all and (min-width:1200px) {
    div.wrapper {
        width: 80%;
        margin: auto;
        padding-top: 10vh;
    }
    
    h1 {
        width: 79%;
        letter-spacing: 5px;
    }
    
    p {
        margin: 1em;
    }
}

/* TABLET */
@media all and (min-width:501px) and (max-width:1199px) {
    div.wrapper {
        width: 90%;
        margin: auto;
        padding-top: 10vh;
    }
    
    h1 {
        width: 89%;
        font-size: 3em;
        letter-spacing: 4px;
    }
    
}

/* PHONE */
@media all and (max-width:500px) {
    div.wrapper {
        width: 100%;
        padding-top: 10vh;
    }
    
    h1 {
        width: 99%;
        font-size: 2em;
    }
    img.resize {
        width: 100px;
        height: auto;
    }
    
}

/* ADDITIONAL */
@media all and (max-width:600px) and (max-height:550px) {
    h1 {
        font-size: 2em;
    }
    img.resize {
        width: 100px;
        height: auto;
    }
    img.resize {
        width: 100px;
    }
}

@media all and (min-width:601px) and (max-width:1199px) and (min-height:501px) and (max-height:999px) {
    h1 {
        font-size: 3em;
    }
}

@media all and (max-height:600px) {
    section.header {
        padding-top:5vh;
    }
    div.wrapper {
        padding-top:0;
    }
}